@import '~antd/dist/antd.css';

$bgcolor: #464951;

::-webkit-scrollbar {
  width: 7px;
  height:7px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #dddfe0;
}
::-webkit-scrollbar-track {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-track-piece {
  background: transparent;
}
    
html, body {
  height: 100%;
  overflow: hidden;
}

/* common */
.anticon {
  cursor: pointer;
}
.ant-menu-item {
  cursor: pointer;
  label {
    cursor: pointer;
  }
}
.m-empty {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;      
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    color: #fff;
    font-size: 30px;
    z-index: 1;
    cursor: default;
  }
}

/* app */
#root {
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  
}

.App-main {
  position: relative;
  height: 100%;
}

.project-nav {
  width: 250px;
  height: 100%;
  border-right: 1px solid #e8e8e8;
  .ant-menu {
    border-right: none;
  }
}
.project-nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  label {
    flex: 1;
  }
  .ant-switch {
    margin-right: 10px;
  }
}

.project-panel {
  position: absolute;
  left: 250px;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  .task-nav {
    .ant-menu {
      display: flex;
      flex-direction: row;
    }
    .ant-menu-item {
      text-align: center;
      flex: 1;
    }
  }
  .log-area {
    position: relative;
    flex: 1;
    padding: 20px 0 0 20px;
    background: $bgcolor;
  }
  .logs {
    width: 100%;
    height: 100%;
  }
  .log-item {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
  }
  .xterm {
    height: 100%;
  }
  .xterm-viewport {
    background: $bgcolor !important;
  }
  .xterm-dom-renderer-owner-1 .xterm-rows {
    background: $bgcolor;
    font-family: Consolas, Source Code Pro, Courier New;
  }
  .xterm-dom-renderer-owner-1 .xterm-rows .xterm-cursor {
    display: none;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
