@import '~antd/dist/antd.css';

::-webkit-scrollbar {
  width: 7px;
  height:7px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #dddfe0;
}
::-webkit-scrollbar-track {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-track-piece {
  background: transparent;
}
    
html, body {
  height: 100%;
  overflow: hidden;
}

.anticon {
  cursor: pointer;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  
}

.App-main {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.project-nav {
  width: 250px;
  border-right: 1px solid #e8e8e8;
  .ant-menu {
    border-right: none;
  }
  .ant-menu-item {
    cursor: pointer;
    label {
      cursor: pointer;
    }
  }
}
.project-nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  label {
    flex: 1;
  }
  .ant-switch {
    margin-right: 10px;
  }
}

.project-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  .task-nav {
    .ant-menu {
      display: flex;
      flex-direction: row;
    }
    .ant-menu-item {
      text-align: center;
      flex: 1;
    }
  }
  .log-area {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
  }
  .log-item {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
